body {
    line-height: 1.5;
    min-height: 100vh;
    font-family: "Be Vietnam Pro", sans-serif;
    background-color: var(--c-background-secondary);
    color: var(--text-primary);
}

/* 스크롤바 */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-primary);
    border: 4px solid var(--c-background-primary);
    border-radius: 99em;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

/* SweetAlert2 아이콘 가운데 정렬 */
.swal2-icon {
    margin: 1.5em auto 0.6em !important;
}